<!-- SCATTERPLOT ATLAS TEMPLATE -->
<!-- pycomparebrain python package -->
<!-- Example based on http://bl.ocks.org/mbostock/3887118 -->
<!-- Tooltip example from http://www.d3noob.org/2013/01/adding-tooltips-to-d3js-graph.html -->

<!--Atlas region paths will be appended here-->
[coronal]
[axial]
[sagittal]
<!--Scatterplot will be appended here-->
<pybrain>

<style>
body {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

#region{
  float:right;
  margin-right: 140px;
  margin-top: 50px;
  color: #CCCCCC;
}
</style>
<!--[D3_MIN_JS]--><script src="http://d3js.org/d3.v3.min.js"></script>

<script type="text/javascript">
var margin = {top: 15, right: 5, bottom: 30, left: 50},
    width = [SCATTER_WIDTH] - margin.left - margin.right,
    height = 900 - margin.top - margin.bottom;

/* 
 * value accessor - returns the value to encode for a given data object.
 * scale - maps value to a visual display encoding, such as a pixel position.
 * map function - maps from data value to display value
 * axis - sets up axis
 */ 

// setup x 
var xValue = function(d) { return d.val1;}, // data -> value
    xScale = d3.scale.linear().range([0, width]), // value -> display
    xMap = function(d) { return xScale(xValue(d));}, // data -> display
    xAxis = d3.svg.axis().scale(xScale).orient("bottom");

// setup y
var yValue = function(d) { return d.val2;}, // data -> value
    yScale = d3.scale.linear().range([height, 0]), // value -> display
    yMap = function(d) { return yScale(yValue(d));}, // data -> display
    yAxis = d3.svg.axis().scale(yScale).orient("left");


// Svg for the legend
var legend_svg = d3.selectAll("pybrain").append("svg")
    .attr("width", 450)
    .attr("height", 150)
    .attr("class","svglegend")
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// add the graph canvas to the body of the webpage
var svg = d3.selectAll("pybrain").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .attr("class","svgplot")
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// add the tooltip area to the webpage
var tooltip = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

 // Adjust size of atlas images to match image width
   // Change colors to match colors of regions
   d3.selectAll("svg.coronal").style("height",150).style("width",150)
   d3.selectAll("svg.axial").style("height",150).style("width",150)
   d3.selectAll("svg.sagittal").style("height",150).style("width",150)
   
// the data will be appended here
raw = {"val1":[INPUT_DATA_ONE],
       "val2":[INPUT_DATA_TWO],
       "atlas":[ATLAS_DATA],
       "labels":[ATLAS_LABELS],
       "color":[ATLAS_COLORS],
       "corr":[ATLAS_CORR]};


  // Color value index will correspond to atlas index (raw.atlas)
  data = []
  var colors = new Array()
  for (i = 0; i < raw.val1.length; i++) { 
    data.push({"val1":raw.val1[i],"val2":raw.val2[i],"labels":raw.labels[i],"atlas":+raw.atlas[i],"color":raw.color[i]});
    colors[+raw.atlas[i]] = {"label":raw.labels[i],"color":raw.color[i],"corr":+raw.corr[i]};     
  }

  // Remove any regions that were not in the atlas
  colors = colors.filter(function(n){ return n != undefined })

  // Make sure color is correct
  for (i = 0; i < colors.length; i++) { 
    d3.selectAll("path#" + colors[i].label).attr("stroke",colors[i].color)    
  }

  // don't want dots overlapping axis, so add in buffer to data domain
  xScale.domain([d3.min(data, xValue), d3.max(data, xValue)]);
  yScale.domain([d3.min(data, yValue), d3.max(data, yValue)]);

  // x-axis
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .append("a")
      .attr("xlink:href", "[IMAGE_1_LINK]")
    .append("text")
      .attr("class", "label")
      .attr("x", width)
      .attr("y", -10)
      .style("text-anchor", "end")
      .text("[IMAGE_1]")
      .attr("xlink:href", "#");

  // y-axis
  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("a")
      .attr("xlink:href", "[IMAGE_2_LINK]")
    .append("text")
      .attr("class", "label")
      .attr("transform", "rotate(-90)")
      .attr("y", -49)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("[IMAGE_2]")

  // Coloring for axis
  d3.selectAll("path.domain").style("stroke","#CCCCCC")
  
  // draw dots
  svg.selectAll(".dot")
      .data(data)
    .enter().append("circle")
      .attr("class",function(d) { return "dot " + d.labels })
      .attr("r", 4)
      .attr("cx", xMap)
      .attr("cy", yMap)
      .style("fill", function(d) { return d.color;}) 
      .style("stroke", function(d) { return d.color;}) 
      .style("fill-opacity",0.7)
      // Mouseover tool tips
      .on("mouseover.tip", function(d) {
          tooltip.transition()
               .duration(200)
               .style("opacity", .9);
          tooltip.html(d.labels + ":<br>image 1: " + (d.val1).toFixed(2) + "<br>image 2: " + (d.val2).toFixed(2))
               .style("left", (d3.event.pageX + 5) + "px")
               .style("top", (d3.event.pageY - 28) + "px");
      })
      .on("mouseout.tip", function(d) {
          tooltip.transition()
               .duration(500)
               .style("opacity", 0);
      })
      // Mouseover region highlight
      .on("mouseover.highlight", function(d) {
        d3.selectAll("path#" + d.labels)
          .style("stroke-width",3)
      })
     .on("mouseout.highlight", function(d) {
        d3.selectAll("path#" + d.labels)
          .style("stroke-width",1)
      })
      // Mouseover size
      .on("mouseover.size", function(d) {
          d3.select(this).attr("r",6)
      })
     .on("mouseout.size", function(d) {
          d3.select(this).attr("r",4)
      });
     
  // draw selection buttons
  var legend_text = legend_svg.selectAll(".legend_text")
       .data(colors)
     .enter().append("g")
      .attr("transform", function(d, i) { return "translate(" + i * 30 + ",0)"; });

  legend_text.append("text")
       .classed(function(d){ return "legend_text " + d.label })
       .attr("transform", "rotate(90)")
       .attr("x", 42)
       .attr("y",-50)
       .attr("font-family", "sans-serif")
       .attr("font-size", "10px")
       .text(function(d){ return d.label.replace("_"," ")})

  var legend = legend_svg.selectAll(".legend")
      .data(colors)
    .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(" + i * 30 + ",0)"; });

  legend.append("rect")
      .classed("legend_box",true)
      .attr("transform","translate(40,0)")
      .attr("x", 0)
      .attr("y",0)
      .attr("width", 30)
      .attr("height", 36)
      .style("fill", function(d) { return d.color })
      .on("mouseover.legend",function(d){
        d3.selectAll("path#" + d.label)
           .style("stroke-width",3)
        d3.selectAll("circle." + d.label)
          .style("stroke","black")            
      })
      .on("mouseout.legend", function(d) {
        d3.selectAll("path#" + d.label)
            .style("stroke-width",1)   
          d3.selectAll("circle." + d.label)
            .style("stroke",d.color)              
      })
       // On click, show or hide the points
      .on("click",function(d){
          if (d3.select(this).classed("pbchidden") == false) {
            d3.selectAll("circle." + d.label)
              .style("stroke-opacity",0)
              .style("fill-opacity",0)
            d3.select(this).style("fill","#F5F5F5")
            d3.selectAll(".legend_corr_" + d.label )
              .style("stroke","black")
              .style("fill","black")
            d3.select(this).classed("pbchidden",true)
            // hide brain region
            d3.selectAll("path#" + d.label)
              .style("stroke","#F5F5F5")
           } 
         else {
            d3.selectAll("circle." + d.label)
              .style("stroke-opacity",1)
              .style("fill-opacity",0.7)
            d3.select(this).style("fill",function(d){ return d.color })
            d3.selectAll(".legend_corr_" + d.label )
              .style("stroke","white")
              .style("fill","white")
            d3.select(this).classed("pbchidden",false) 
            // add brain region
            d3.selectAll("path#" + d.label)
               .style("stroke",d.color )
          }
       })

  // Deselect all button
  selectall = legend_svg.append("g")

  selectall.append("rect")
      .classed("selectall",true)
      .attr("transform","translate(40,0)")
      .attr("x", 305)
      .attr("y",0)
      .attr("width", 45)
      .attr("height", 36)
      .style("fill", "red")
      .on("mouseover.legend",function(){
        d3.selectAll("path")
           .style("stroke-width",3)
        d3.select(this).style("stroke","black")
          .style("stroke-width",3)     
      })
      .on("mouseout.legend", function() {
        d3.selectAll("path")
            .style("stroke-width",1)   
          d3.select(this).style("stroke","white") 
            .style("stroke-width",1)    
      })
       // On click, show or hide ALL the points
      .on("click",function(){
            d3.selectAll("circle")
              .style("stroke-opacity",0)
              .style("fill-opacity",0)
            d3.selectAll(".legend_box")
              .style("fill","#F5F5F5")
              .classed("pbchidden",true)
            d3.selectAll(".legend_corr")
              .style("stroke","black")
              .style("fill","black")
            // hide ALL brain regions
            d3.selectAll("path").style("stroke","#F5F5F5")
        });

    selectall.append("text")
       .attr("x", 350)
       .attr("y",21)
       .style("fill","white")
       .style("stroke","white")
       .style("stroke-width",0.5)
       .attr("font-family", "sans-serif")
       .attr("font-size", "10px")
       .text("CLEAR")


  // add correlation values
  var legend_corr = legend_svg.selectAll(".legend_corr")
       .data(colors)
     .enter().append("g")
      .attr("transform", function(d, i) { return "translate(" + i * 30 + ",0)"; });

  legend_corr.append("text")
       .attr("class", function(d) { return "legend_corr_" + d.label})
       .classed("legend_corr",true)
       .attr("x", 44)
       .attr("y", 10)
       .style("font-family", "sans-serif")
       .style("font-size", "10px")
       .style("fill", "white")
       .style("stroke-width", 0.5)
       .style("stroke", "white")
       .text(function(d){ return d.corr.toFixed(2)})

</script>
